@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Mock Barbershop Website</h1>
    <p>This is a CRUD application that lets users create an account
        and book a haircut with a barber
    </p>
    <p><a href="https://github.com/Adam882094/Barbershop" target="_blank">GitHub Repo</a></p>
</div>
